/* declare variable for colors */
:root {
    --dark: #293241;
    --light: #e0fbfc;
    --background: #d9dcd6;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*set background color*/
body {
    background-color: var(--background)
}

h3 {
    display: flex;
    flex-direction: column;
}

p {
    text-align: justify;
    padding: 3px;
}

a {
    padding: 15px;
    color: var(--dark);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* header styling */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    justify-content: space-between;
}

nav a{
    color: var(--light);
}

header a {
    color: var(--light);
    display: flex;
    justify-content: space-evenly;
}



/* hero image styling */
.hero {
    width: 100%;
}

/* general card styling */
.card h2 {
    padding: 0.5rem 1rem;
    float: left;
    width: 200px;
    margin: auto;
    font-size: 30px;
}

.card-body {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: 18px;
    border: solid var(--light);
    left: solid var(--dark);
}

#card {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.card {
    background-color: var(--light);
    padding: 3%;
    margin: 3%;
    color: var(--dark);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    width: 90%;
    min-height: 200px;
}

.card div ul li a {
    color: var(--light);
    justify-content: center;
    background-color: var(--dark);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

/* puts border around links */
li :hover {
    border: 1px solid var(--dark) ;
    border-radius: 2px;
    box-shadow:inset 0 0 0 2px var(--light);
}

/* grid styling for my work section*/
.grid {
    display: grid;
    min-height: 100px; 
    gap: 5px;
    grid-auto-rows: minmax(200px, auto);
    grid-template-columns: 50% 50%;
}
.work {
    border: solid 5px;
    background-size: cover;
    background-position: center;
}
.grid :hover {
    opacity: 0.5;
}

.grid p {
    size: 50px;
    padding: 7px;
    background-color: var(--light);
    display: inline-block;
    box-shadow:inset 0 0 0 2px var(--dark);
    border-radius: 5px;
    /* border: 20px var(); */
}


.box1 {
    grid-column: 1/3;
    background-image: url("./images/works/work-1.jpeg");
}

.box2 {
    background-image: url("./images/works/work-2.webp");
}

.box3 {
    background-image: url("./images/works/work-3.jpeg");
}

.box4 {
    background-image: url("./images/works/work-4.jpeg");
}

.box5 {
    background-image: url("./images/works/work-5.jpeg");
}

/* media query */
@media screen and (max-width:992px) {
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    header h1 {
        padding: 25px;
        border-bottom: 5px var(--light);
    }

    .card {
        display: flex;
        flex-direction: column;
        border: solid var(--dark);
        border-radius: 10px;
        justify-content: center;
    }

    .card h2 {
        /* border-right: 0px; */
        width: 100%;
        text-align: center;
    }

    
    
}

@media screen and (max-width:768px) {
    header {
        font-size: small;
    }

    nav {
        font-size: small;
    }

    .card {
        display: flex;
        flex-direction: column;
        border: solid var(--dark);
        border-radius: 10px;
    }

    .card-header {
        border-right: 0px;
        width: auto;
        text-align: center;
    }

    .links ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 400px;
        margin: auto;
    }
}
