/* declare variable for colors */
:root {
    --dark2: #293241;
    --background: #e0fbfc;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*set background color*/
body {
    background-color: #d9dcd6;
}

/*  flex main */
main {
    display: flex;
    justify-content: space-evenly;
}

h3 {
    display: flex;
    flex-direction: column;
}

p {
    text-align: justify;
    padding: 3px;
}

a {
    padding: 15px;
    color: var(--dark2);
    /* margin: 20px; */
    /* float: right; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /* list-style-type: none; */
    text-decoration: none;
}



ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* header styling */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--dark2);
    color: var(--background);
    display: flex;
    justify-content: space-between;
}



header a {
    color: var(--background);
    display: flex;
    justify-content: space-evenly;
}



/* hero image styling */
.hero {
    height: 600px;
    width: 100%;
}

/* general card styling */
.card h2 {
    padding: 0.5rem 1rem;
    float: left;
    width: 200px;
    margin: 25px;
    font-size: 30px;
}

.card-body {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    float: left;
    width: 70%;
    margin: auto;
    /* border-left: solid var(--dark2); */
    font-size: 18px;
    border-radius: 10px;
    border: solid var(--background);
    left: solid var(--dark2);
}

.card {
    background-color: var(--background);
    padding: 3%;
    margin: 3%;
    color: var(--dark2);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    width: 90%;
    min-height: 200px;
}

.card div ul li a {
    color: var(--background);
    justify-content: center;
    background-color: var(--dark2);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

/* puts border around links */
li :hover {
    border: 1px solid var(--dark2) ;
    border-radius: 2px;
    box-shadow:inset 0 0 0 2px var(--background);
}

/* media query */
@media screen and (max-width:992px) {
    header {
        display: flex;
        flex-direction: column;
    }

    /* nav {
        display: flex;
        flex-direction: column;
    } */

    .card {
        display: flex;
        flex-direction: column;
        border: solid var(--dark2);
        border-radius: 10px;
    }

    .card h2 {
        border-right: 0px;
        width: 100%;
        text-align: center;
    }

    
}

/* grid styling for my work */
.grid {
    display: grid;
    /* width: 100%;*/
    min-height: 100px; 
    /* display: flex; */
    gap: 5px;
    grid-auto-rows: minmax(200px, auto);
    grid-template-columns: 50% 50%;
}
.work {
    border: solid 5px;
    background-size: cover;
    background-position: center;
}
/* .work :hover {
    filter: brightness(60%);
} */


.box1 {
    grid-column: 1/3;
    background-image: url("./images/works/work-1.jpeg");
}

.box2 {
    background-image: url("./images/works/work-2.webp");
}

.box3 {
    background-image: url("./images/works/work-3.jpeg");
}

.box4 {
    background-image: url("./images/works/work-4.jpeg");
}

.box5 {
    background-image: url("./images/works/work-5.jpeg");
}

@media screen and (max-width:768px) {
    header {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    .card {
        display: flex;
        flex-direction: column;
        border: solid var(--dark2);
        border-radius: 10px;
    }

    .card-header {
        border-right: 0px;
        width: 100%;
        text-align: center;
    }
}
